<script src="https://giscus.app/client.js"
        data-repo="felixjones/felixjones.co.uk"
        data-repo-id="R_kgDOHtM_Jw"
        data-category="Blog Comments"
        data-category-id="DIC_kwDOHtM_J84CSYvf"
        data-mapping="url"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
