<!-- Twitter cards -->
<meta name="twitter:site"    content="@{{site.data.social-media.twitter.id}}">
<meta name="twitter:creator" content="{{site.author}}">

{% if page.title %}
<meta name="twitter:title" content="{{page.title | escape}}">
{% else %}
<meta name="twitter:title" content="{{site.title | escape}}">
{% endif %}

{% if page.description %}
<meta name="twitter:description" content="{{page.description | escape}}">
{% else %}
<meta name="twitter:description" content="{{site.description | escape}}">
{% endif %}

{% if page.image %}
<meta name="twitter:card"  content="summary_large_image">
<meta name="twitter:image" content="{{page.image | absolute_url}}?4362984378">
{% else %}
<meta name="twitter:card"  content="summary_large_image">
<meta name="twitter:image" content="{{site.title_image | absolute_url}}?4362984378">
{% endif %}
<!-- end of Twitter cards -->

<!-- Mastodon compatible meta data -->
<link rel="me" href="https://retrodev.social/@xilefian">
<!-- end of Mastodon compatible meta data -->
