<!-- Twitter cards -->
<meta name="twitter:site"    content="@{{site.data.social-media.twitter.id}}">
<meta name="twitter:creator" content="{{site.author}}">

{% if page.title %}
<meta name="twitter:title" content="{{page.title}}">
{% else %}
<meta name="twitter:title" content="{{site.title}}">
{% endif %}

{% if page.description %}
<meta name="twitter:description" content="{{page.description}}">
{% else %}
<meta name="twitter:description" content="{{site.description}}">
{% endif %}

{% if page.image %}
<meta name="twitter:card"  content="summary_large_image">
<meta name="twitter:image" content="{{page.image | absolute_url}}">
{% else %}
<meta name="twitter:card"  content="summary">
<meta name="twitter:image" content="{{site.title_image | absolute_url}}">
{% endif %}
<!-- end of Twitter cards -->
