
<div id="micro-blog"></div>
<script type="text/javascript">
  const FEED_URL = 'https://retrodev.social/api/v1/timelines/public?local=true';
  fetch(FEED_URL)
    .then(res => res.json())
    .then(data => data.find(post => post.account.username === "xilefian" && post.in_reply_to_id == null && post.in_reply_to_account_id == null))
    .then(post => {
      document.head.insertAdjacentHTML("beforeend", `
        <link rel="stylesheet" href="https://felixjones.co.uk/assets/css/retrodev.css">
      `);
      const account = post.account;
      const createdAt = new Date(post.created_at);
      const postLanguage = new Intl.DisplayNames(undefined, { type: 'language' }).of(post.language);
      const emojis = Array.from(post.emojis, emoji => {
        return {
          pattern: "[:]" + emoji.shortcode.replace(/[.*+?^${}()|[\]\\]/g, '\\$&') + "[:]",
          html: `
            <picture>
              <source class="emoji" srcset="${emoji.static_url}" type="image/png" media="(prefers-reduced-motion: reduce)" width="25" height="25">
              <img class="emoji" src="${emoji.url}" title=":${emoji.shortcode}:" alt=":${emoji.shortcode}:" loading="lazy" width="25" height="25">
            </picture>
          `
        };
      });
      var content = post.content;

      const contentParser = new DOMParser();
      const contentDoc = contentParser.parseFromString(content, 'text/html');
    
      const anchors = contentDoc.getElementsByTagName('a');    
      if (anchors.length > 0) {    
        const lastAnchor = anchors[anchors.length - 1];

        const href = lastAnchor.getAttribute('href');
        const anchorUrl = new URL(href);

        fetch(`https://twilight-frost-1c4e.hotfewix3000.workers.dev/?url=${lastAnchor.href}`)
            .then(res => res.json())
            .then(meta => {
                if (meta.image == null) {
                  meta.image = 'https://felixjones.co.uk/title.jpg?4362984378';
                }
                if (meta.description == null) {
                  meta.description = '\xa0';
                }
                const preview = document.createElement('div');
                preview.innerHTML = `
<style>
.twitter-card {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 8px;
  max-width: 500px;
  max-height: 120px;
  text-decoration: none;
  font-family: sans-serif;
  overflow: hidden;
  color: inherit;
}
.twitter-card img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  flex-shrink: 0;
}
.twitter-card-content {
  padding: 10px;
  min-width: 0;
}
.twitter-card-title {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 5px;
  white-space: nowrap;
  overflow: hidden;
  width: calc(100%);
  display: inline-block;
  text-overflow: ellipsis;
}
.twitter-card-description {
  font-size: 14px;
  color: #555;
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(100%);
}
.twitter-card-url {
  font-size: 12px;
  color: #888;
  margin-top: 8px;
  white-space: nowrap;
  overflow: hidden;
  width: calc(100%);
  display: inline-block;
  text-overflow: ellipsis;
}
</style>
<a href="${lastAnchor.href}" target="${anchorUrl.hostname === 'felixjones.co.uk' ? '_self' : '_blank'}" style="text-decoration: none; color: inherit;" class="twitter-card">
    <img src="${meta.image}" alt="">
    <div class="twitter-card-content">
        <div class="twitter-card-title">${meta.title}</div>
        <div class="twitter-card-description">${meta.description}</div>
        <div class="twitter-card-url">${meta.url}</div>
    </div>
</a>
            `;
                document.getElementById('preview-content').append(preview);
            });
      }

      emojis.forEach(emoji => {
        const regex = new RegExp(emoji.pattern, "g");
        content = content.replace(regex, emoji.html);
      });
      if (post.media_attachments.length > 0) {
        content = content.concat(`<div style="display:flex;">`);
        post.media_attachments.forEach(attachment => {
            if (attachment.description != null) {
                alt = `alt="${attachment.description}"`;
            } else {
                alt = ``;
            }
            content = content.concat(`
            <div style="flex: 25%; padding: 5px;">
                <a href="${attachment.url}"><img src="${attachment.preview_url}" style="width:100%" ${alt}></a>
            </div>
            `);
        });
        content = content.concat(`</div>`);
      }
      let html = `
        <article class="status expanded" id="${post.id}" role="region" aria-label="@${account.username}, ${createdAt.toLocaleDateString(undefined, {month: 'short', day: 'numeric', hour: 'numeric', minute: 'numeric', hourCycle: 'h23'})}, language ${postLanguage}, ${post.replies_count} reply, ${post.favourites_count} favourite">
          <header class="status-header">
              <address>
                  <a href="${account.url}" rel="author" title="Open profile">
                      <picture class="avatar" aria-hidden="true" style="visibility:hidden">
                          <source srcset="${account.avatar_static}" type="image/jpeg" media="(prefers-reduced-motion: reduce)">
                          <img src="${account.avatar}" alt="Avatar for ${account.username}" title="Avatar for ${account.username}">
                      </picture>
                      <div class="author-strap">
                          <span class="displayname text-cutoff">${account.display_name}</span>
                          <span class="sr-only">,</span>
                          <span class="username text-cutoff">@${account.username}</span>
                      </div>
                      <span class="sr-only">(open profile)</span>
                  </a>
              </address>
          </header>
          <div class="status-body">
              <div class="text">        
                  <div id="preview-content" class="content" lang="${post.language}">
                      ${content}
                  </div>
              </div>
          </div>
          <aside class="status-info" aria-hidden="true">    
              <dl class="status-stats">
                  <div class="stats-grouping">
                      <div class="stats-item published-at text-cutoff">
                          <dt class="sr-only">Published</dt>
                          <dd>
                              <time datetime="${post.created_at}">${createdAt.toLocaleDateString(undefined, {year: 'numeric', month: 'short', day: 'numeric', hour: 'numeric', minute: 'numeric', hourCycle: 'h23'})}</time>
                          </dd>
                      </div>
                      <div class="stats-grouping">
                          <div class="stats-item" title="Replies">
                              <dt>
                                  <span class="sr-only">Replies</span>
                                  <i class="fa fa-reply-all" aria-hidden="true"></i>
                              </dt>
                              <dd>${post.replies_count}</dd>
                          </div>
                          <div class="stats-item" title="Faves">
                              <dt>
                                  <span class="sr-only">Favourites</span>
                                  <i class="fa fa-star" aria-hidden="true"></i>
                              </dt>
                              <dd>${post.favourites_count}</dd>
                          </div>
                          <div class="stats-item" title="Boosts">
                              <dt>
                                  <span class="sr-only">Reblogs</span>
                                  <i class="fa fa-retweet" aria-hidden="true"></i>
                              </dt>
                              <dd>${post.reblogs_count}</dd>
                          </div>
                      </div>
                  </div>
                  <div class="stats-item language" title="${postLanguage}">
                      <dt class="sr-only">Language</dt>
                      <dd>
                          <span class="sr-only">${postLanguage}</span>
                          <span aria-hidden="true">${post.language}</span>
                      </dd>
                  </div>
              </dl>
          </aside>
          <a href="${post.url}" class="status-link" data-nosnippet="" title="Open thread at this post">
              Open thread at this post
          </a>
        </article>
      `;
      document.getElementById('micro-blog').innerHTML = html;
    });
</script>
