---
---

@import "{{ site.theme }}";

@media (prefers-color-scheme: dark) {
  body {
    color: #c9d1d9;
    background-color: #0d1117;
  }

  a {
    color: #58a6ff;
  }

  .markdown-body img {
    background-color: transparent;
  }

  .markdown-body table tr {
    background-color: #ddd1;
  }

  .markdown-body table tr:nth-child(2n) {
    background-color: #ddd3;
  }

  .highlighter-rouge {
    color: $text-gray-dark;
    filter: invert(1);
  }
}
